* {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.w {
    width: 1100px;
}