/*去除浏览器的默认样式*/
*{
    padding:0;
    margin:0;
    list-style: none;
}
body{
    font:12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    min-width: 1190px;
    color:#3c3c3c;
}
/*去除下划线*/
a{
    text-decoration: none;
}
/*设置主页的宽度*/
.w{
    width: 1190px;
    margin:0 auto;
}
.clearfix::before,
.clearfix::after{
    display: table;
    content:'';
    clear:both;
}